/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Variables Declaration */
:root {
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  --primary-green-hover: hsl(154, 81%, 70%);
  --accent-blue: hsl(248, 32%, 49%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-dark-blue: hsl(249, 10%, 26%);
  --neutral-grayish-blue: hsl(246, 25%, 77%);
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary-red);
  background-image: url("/images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.wrapper {
  min-height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10rem;
  gap: 6rem;
}

.content-info .content-title {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  color: var(--neutral-white);
}

.content-para {
  line-height: 1.5;
  color: var(--neutral-white);
}

.content-form {
  width: 100%;
}

.content-form .trial-area {
  margin-bottom: 1.5rem;
  padding: 1rem 2rem;
  text-align: center;
  background-color: var(--accent-blue);
  border-radius: 0.625rem;
}

.trial-area .trial-para {
  color: var(--neutral-white);
  font-weight: 400;
}

.bolded-text {
  font-weight: 600;
}

.form-area {
  position: relative;
  padding: 2rem;
  background-color: var(--neutral-white);
  border-radius: 0.625rem;
}

input {
  width: 100%;
  margin-top: 0.625rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-weight: 600;
  font-size: 0.875rem;
  border: none;
  border-radius: 0.625rem;
  box-shadow: 0px 5px 25px -4px rgba(30, 30, 60, 0.22);
}

.form-control {
  position: relative;
}

.error {
  background: url("/images/icon-error.svg") no-repeat;
  background-position: 95% center;
  background-size: 1.5rem 1.5rem;
  z-index: 10;
}

.error-msg {
  position: absolute;
  top: 50px;
  right: 0;
  text-align: right;
  font-size: 0.75rem;
  font-style: italic;
  color: var(--primary-red);
  font-weight: 500;
  margin-top: 0.9375rem;
  /* visibility: hidden; */
}

.signup-btn {
  width: 100%;
  margin: 2rem 0 1rem 0;
  padding: 0.8rem 2rem;
  border: none;
  background-color: var(--primary-green);
  color: var(--neutral-white);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0.3rem;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: var(--primary-green-hover);
}

.form-footer {
  color: var(--neutral-grayish-blue);
  text-align: center;
  font-size: 0.625rem;
  font-weight: 600;
}

.form-footer .highlighted-text {
  font-size: 0.75rem;
  color: var(--primary-red);
}

.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution > a {
  text-decoration: none;
  color: var(--accent-blue);
}

/* Media Queries */
@media only screen and (min-width: 300px) and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
    padding: 0 2rem;
    gap: 2.5rem;
  }

  .content-info .content-title {
    text-align: center;
    font-size: 2rem;
  }

  .content-info .content-para {
    text-align: center;
  }

  .content-form .trial-area {
    padding: 1rem 3rem;
  }

  input {
    font-size: 0.75rem;
  }

  .error {
    background-size: 1rem 1rem;
  }

  .error-msg {
    font-size: 0.625rem;
  }

  .signup-btn {
    font-size: 0.875rem;
  }

  .form-footer {
    padding: 0 0.625rem;
  }
}
